extends layout

block content
  h1= title
  p Welcome to #{title}
  p Upload an image to extract the text!
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='imageupload')
    input(type='submit', name='uploadimage', value='Upload Image')
